[submodule "bash-it"]
	path = bash-it
	url = git@github.com:wellingh/bash-it.git
[submodule "gitstatus"]
	path = gitstatus
	url = https://github.com/romkatv/gitstatus
[submodule "vim-code-dark"]
	path = vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "nvm"]
	path = nvm
	url = git@github.com:nvm-sh/nvm.git
